<div class="hero bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Mini 4WD Race Management APP</h1>
    </div>
  </div>
</div>

<div class="my-10 text-center">
  <h1 class="text-2xl font-bold mb-4"></h1>

  <% if user_signed_in? %>
    <!-- ユーザーがログインしている場合 -->
    <div class="card w-full max-w-sm shadow-lg bg-base-100 mx-auto">
      <div class="card-body">
        <h4 class="text-lg font-semibold">メールアドレス:</h4>
        <p class="text-gray-600"><%= current_user.email %></p>
        <div class="card-actions justify-center">
          <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-error btn-outline" %>
        </div>
      </div>
    </div>
  <% else %>
    <!-- ユーザーがログインしていない場合 -->
    <div class="card w-full max-w-sm shadow-lg bg-base-100 mx-auto">
      <div class="card-body">
        <h2 class="text-lg font-semibold mb-4">現在ログインしていません</h2>
        <div class="card-actions flex flex-col gap-2">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
