<!-- 未ログイン状態のヘッダー -->
<header class="bg-base-100 shadow-md">
  <div class="navbar container mx-auto">
    <!-- アプリタイトル -->
    <div class="flex-1">
      <%= link_to '/', class: 'btn btn-ghost normal-case text-xl' do %>
        Mini 4WD Race Management APP
      <% end %>
    </div>

    <!-- メニュー -->
    <div class="flex-none">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost">
          メニュー
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
          <li><%= link_to 'ログイン', '#' %></li>
          <li><%= link_to '新規登録', '#' %></li>
        </ul>
      </div>
    </div>
  </div>
</header>
