@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-logo {
        font-family: 'Orbitron', sans-serif; /* 適用するフォント */
        font-size: 1.2rem; /* サイズ調整 */
        color: #1e90ff; /* テキストの色 */
        text-transform: uppercase; /* 全て大文字 */
        letter-spacing: 0.1em; /* 字間の調整 */
        outline: 2px solid #db7093; /* アウトラインの色と幅 */
        outline-offset: 0.5px; /* テキストとの間隔 */
        border: none; /* デフォルトのボーダーを削除 */
        border-radius: 12px; /* 丸みを最大限にする */
        padding: 0.5rem 0.5rem; /* 余白の調整 */
    }
    
    .custom-logo:hover {
        color: #db7093; /* テキストの色 */
        outline: 2px solid #1e90ff; /* ホバー時にアウトラインを変更 */
        outline-offset: 0.5px; /* テキストとの間隔 */
        border-radius: 12px; /* ホバー時も丸みを維持 */
    }

    body {
      padding-top: 60px; /* ヘッダーの高さ分を追加 */
    }

    .custom-google-in-button {
        display: inline-block;
        width: 250px; /* ボタンの幅 */
        height: 50px; /* ボタンの高さ */
        background-image: url('/assets/login@2x.png'); /* 画像のパス */
        background-size: cover; /* 画像をボタン全体に拡大/縮小 */
        background-repeat: no-repeat;
        background-position: center;
        border: none; /* ボーダーを削除 */
        text-indent: -9999px; /* テキストを非表示 */
        overflow: hidden; /* テキストのオーバーフローを非表示 */
        cursor: pointer;
    }

    .custom-google-in-button:hover {
        filter: brightness(0.9); /* ホバー時のエフェクト */
    }

    .custom-google-button {
        display: inline-block;
        width: 250px; /* ボタンの幅 */
        height: 50px; /* ボタンの高さ */
        background-image: url('/assets/web_dark_sq_SU@2x.png'); /* 画像のパス */
        background-size: cover; /* 画像をボタン全体に拡大/縮小 */
        background-repeat: no-repeat;
        background-position: center;
        border: none; /* ボーダーを削除 */
        text-indent: -9999px; /* テキストを非表示 */
        overflow: hidden; /* テキストのオーバーフローを非表示 */
        cursor: pointer;
    }

    .custom-google-button:hover {
        filter: brightness(0.9); /* ホバー時のエフェクト */
    }
}